############################## 最低配置 ##############################



# 监听端口
clientPort=2181

# 存储内存数据库快照的位置，除非另有指定，还存储数据库更新的事务日志。
dataDir=/tmp/zookeeper

# 单个 tick 的长度，这是 ZooKeeper 使用的基本时间单位，以毫秒为单位
tickTime=2000



############################## 高级配置 ##############################



# 日志目录，如果设置了此参数，则日志文件单独存储到此目录下，否则存储在 dataDir 设置的目录下  
dataLogDir=/tmp/zookeeper/log


# 单个客户端与 ZooKeeper 集合的单个成员建立的并发连接数，默认60，设置为 0 则没有限制
maxClientCnxns=60

# 侦听客户端连接的地址（ipv4、ipv6 或主机名），默认所有地址即 0.0.0.0
clientPortAddress=


##### 客户端建立连接时，请求的会话超时时间，如果在这两个值之间，则生效，如果小于minSessionTimeout，则取 minSessionTimeout 的值，大于 maxSessionTimeout 的值则取 maxSessionTimeout 的值
##### 例：客户端在建立连接时请求的会话超时时间为3000毫秒，则超时时间为4000毫秒

# 服务器允许客户端协商的最小会话超时时间（以毫秒为单位）。默认为tickTime 的 2 倍。
# 这里需要填写具体的 毫秒数，例如4000就代码4秒
minSessionTimeout=4000
#服务器允许客户端协商的最大会话超时时间（以毫秒为单位）。默认为tickTime 的20 倍
# 这里需要填写具体的 毫秒数，例如20000就代码20秒
maxSessionTimeout=20000




############################## 集群配置 ##############################

# 允许跟随者连接并同步到领导者。如果 ZooKeeper 管理的数据量很大，请根据需要增加此值。此值为 tickTime 的倍数
initLimit=5

# 领导者是否接受客户端连接，如果设置为 no 则 leader 节点不能被客户端连接
leaderServes=yes

# Follower 节点和 Leader 节点的数据同步最大时间，此值为 tickTime 的倍数
syncLimit=2

# 集群服务器配置，server.x 的 x 对应 dataDir 目录下的 myid，取值 1-254
# 第一个 nnnn 是 Leader 的端口，用于 Follower 连接到 Leader，第二个 nnnnn 是用于选举的端口，即Leader两个nnnn都会开放，而Follower只会开放第二个nnnn端口
server.x=[hostname]:nnnnn[:nnnnn]


# 设置此节点为观察者，不参与投票
peerType=observer
# 并且还需要设置此节点为 observer
server.x=[hostname]:nnnnn[:nnnnn]:observer


